@charset "UTF-8";

@font-face {
  font-family: 'ZEN丸ゴシック';
  src: url('fonts/ZenMaruGothic-Medium.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'ZEN丸ゴシック';
}
img {
  max-width: 100%;
}

.header {
  height: 100px;
}
.header a {
  display: block;
  width: 220px;
  margin: 0 auto;
}
.logo {
  max-height: 100px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.white-back {
  background-color: rgb(255 255 255 / 0.8);
  width: 90%;
  margin: 0 auto 1em auto;
  padding-bottom: 2em;
}
.thanks {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.page-title {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px dotted gainsboro;
}

.page-top {
  width: 10%;
  max-width: 150px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 999;
  animation: float 1.5s ease-in-out infinite alternate-reverse;
}
@keyframes float {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}

/***********************************
　ホーム
************************************/
body {
  background: url(images/back.png);
  background-position: top left;
  color: #444;
}

.home {
  display: flex;
  justify-content: center;
  max-height: 90vh;
}

.side-nav {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 30%;
}

.side-nav li {
  margin:50px 0 60px 0;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px dotted #fff;
}

.side-nav a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.hero-title-top,
.hero-title-bottom {
  margin: 30px;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: #444444;
}

.hero-visual {
  position: relative;
  width: 300px;
  height: 300px;
}

.hero-me {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero-animals {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  animation: rotateAnimals 40s linear infinite;
}
@keyframes rotateAnimals {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-text {
  color: #fff;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 50px;
}

.footer {
  max-height: 10vh;
  padding: 30px 20px;
}

.footer-title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  color: #444;
}

.footer-nav ul {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
  color: #444;
  padding-left: 2em;
}

.footer-nav li:not(:last-child)::after {
  content: "|";
  margin-left: 16px;
  font-weight: 700;
  color: #444;
}

.copyright {
  font-size: 12px;
  color: #444;
  text-align: center;
  padding-bottom: 10px;
}

/***********************************
　ハンバーガーメニュー
************************************/
#hamburger {
	background-color: transparent;
	position: relative;
	cursor: pointer;
	margin: 0 0 0 auto;
	height: 60px;
	width: 60px;
  z-index: 11;
}
  .icon span {
	position: absolute;
	left: 10px;
	width: 35px;
	height: 4px;
	background-color: #737373;
	border-radius: 5px;
	transition: ease 0.74s;
}
  .icon span:nth-of-type(1) {
	top: 16px;
}
  .icon span:nth-of-type(2) {
	top: 28px;
}
  .icon span:nth-of-type(3) {
	bottom: 16px;
}
  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }
  .close span:nth-of-type(2) {
    opacity: 0;
  }
  .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }
  .ham {
    display: none;
    top: 0;
    right: 0;
    position: absolute;
    width: 20%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 30px;
    box-shadow: 4px 4px 4px gray;
    z-index: 10;
  }
  .ham-image {
    width: 60%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
  }
  .ham ul {
    flex-direction: column;
  }
  .ham li {
    text-align: center;
    padding: 15px 0;
  }
  .ham a {
    color: rgba(34, 49, 52, 0.9);
    text-align: center; 
    padding-bottom: 3px;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.6);
  }
  .ham a:hover {
    color: rgba(34, 49, 52, 0.3);
  }

/***********************************
　わたし
************************************/
.about-profile {
  width: 60%;
  margin: 0 auto;
}

.about-name-en {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.about-name-jp {
  font-size: medium;
  font-weight: 600;
  margin-bottom: 1em;
}

.profile-table {
  border: 1px dotted gray;
  margin: 1em 0;
  padding: 1em;
}

.profile-table div {
  display: flex;
  margin-bottom: 5px;
}

.profile-table dt {
  width: 20%;
  text-align: center;
  font-weight: 500;
}
.profile-table dd {
  width: 80%;
}

.about-text {
  margin-left: auto;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.skill-title {
  font-size: medium;
  font-weight: 600;
  text-align: center;
  margin: 60px 0 30px 0;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 20px;
}

.skill-card p {
  font-size: small;
  padding: 0.5em;
  border: 1px solid gray;
}

/***********************************
　作品一覧
************************************/
.work-layout {
  display: flex;
}
/*****サイトメニュー*****/
.work-filter {
  width: 20%;
  padding-left: 5%;
  background-color: #fffff6;
}
.work-filter li {
  margin: 10px 0;
  font-weight: 400;
}
.work-filter li:first-child {
  font-weight: 600;
}

/*****メイン*****/
.work-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-list h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  padding: 5px 0;
}

.work-list-detail {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}
.work-card img {
  width: 400px;
}
.work-card-title {
  margin: 8px 0;
  font-size: 20px;
  font-weight: 600;
}
.work-card-detail {
  font-size: 12px;
}

/***********************************
　作品詳細
************************************/
.work-article {
  max-width: 90%;
  margin: 0 auto;
}

.work-main-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 10px auto;
  border: 1px solid #999999;
}

.work-url,
.work-label,
.work-title {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.work-url {
  width: 40%;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #999999;
  font-weight: 600;
}

.work-label {
  margin-top: 20px;
  margin-bottom: 5px;
  color: gray;
  font-size: small;
  font-weight: 400;
}

.work-title {
  font-size: x-large;
  font-weight: 700;
}

.ribon {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 30px auto;
}

.target,
.purpose {
  padding-left: 2em;
  font-weight: 600;
  margin-top: 10px;
}

.target-purpose {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.target-purpose h2,
.design-wireframe h2,
.design-comp h2,
.production-period h2,
.banner h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.target-purpose p {
  padding-left: 3em;
  margin-top: 5px;
}

.preview-container,
.banner-container {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.preview-pc,
.square {
  margin: 0 10px;
}
figcaption {
  text-align: center;
}
.design-text {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 10px auto;
  padding: 10px;
  border: 1px dotted gray;
}

.preview-pc img,
.preview-smart img,
.square img,
.rectangle img {
  border: 1px solid #999999;
}

.period-table {
  width: 80%;
  max-width: 500px;
  height: auto;
  margin: 10px auto;
  border: 1px dotted gray;
}
.period-table th {
  width: 60%;
  padding: 5px;
  padding-left: 2em;
  font-weight: 500;
  border: 1px dotted gray;
}
.period-table td {
  width: 40%;
  padding: 5px;
  text-align: center;
  font-weight: 400;
  border: 1px dotted gray;
}

.tool {
  margin-top: 50px;
}
.tool-text {
  width: 80%;
  max-width: 500px;
  height: auto;
  margin: 10px auto 80px auto;
  border: 1px dotted gray;
  padding: 10px;
  text-align: center;
}

.btn-wrap {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 50px auto;
}
.back-link {
  background-color: #fff;
  border: 1px solid #96d2fa;
  border-radius: 50px;
  padding: 10px;
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.back-link a {
  width: 50%;
  text-align: center;
}
.back-link img {
  width: 50px;
}
.back-link p {
  color: #96d2fa;
  font-weight: 600;
}


/***********************************
　問合せ
************************************/
.contact {
  text-align: center;
}

.page-title-contact {
  font-size: 50px;
  font-weight: 600;
  padding: 20px 0;
}

.contact-thanks {
  margin: 2em 0;
  letter-spacing: 0.1em;
}
.contact-text {
  margin-bottom: 1.5em;
  letter-spacing: 0.1em;
  line-height: 1.3;
}

.mail-link {
  display: block;
  margin: 0 auto;
  padding: 1em;
  width: 300px;
  border-radius: 60px;
  background-color: #edfada;
  border: 1px solid #a9b39b;
}