@charset "UTF-8";

@font-face {
  font-family: 'ZEN丸ゴシック';
  src: url('fonts/ZenMaruGothic-Medium.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(images/back-square.png);
  background-position: top left;
  font-family: 'ZEN丸ゴシック';
  color: #444;
}

img {
  max-width: 100%;
}

.header {
  height: 100px;
}
.header a {
  display: block;
  width: 220px;
  margin: 0 auto;
}
.logo {
  max-height: 100px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.white-back {
  background-color: rgb(255 255 255 / 0.9);
  width: 90%;
  margin: 0 auto 1em auto;
  padding-bottom: 2em;
}
.thanks {
  text-align: center;
  margin: 80px 0 50px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.page-title {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px dotted gainsboro;
}

.page-top {
  width: 10%;
  max-width: 150px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 999;
  animation: float 1.5s ease-in-out infinite alternate-reverse;
}
@keyframes float {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}
.page-top img:hover {
  transform: rotateY(360deg);
  transition: transform 1.5s;
}

.pc-only-br {
  display: inline;
}
.smart-only-br {
   display: none;
  }

/***********************************
　ホーム
************************************/
.home {
  display: flex;
  justify-content: center;
  max-height: 90vh;
}

.side-nav {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 30%;
}
.side-nav li {
  margin:50px 0 60px 0;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px dotted #fff;
}
.side-nav a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.side-nav a:hover {
  color:#8f97b3;
  transition : .3s;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.hero-title-top,
.hero-title-bottom {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: #444444;
}
.hero-title-top {
  margin: 50px 0 30px 0;
}
.hero-title-bottom {
  margin: 30px;
}

.hero-visual {
  position: relative;
  width: 300px;
  height: 300px;
}

.hero-me {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hero-animals {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  animation: rotateAnimals 40s linear infinite;
}
@keyframes rotateAnimals {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero-text {
  color: #fff;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: center;
  margin: 50px 0 150px 0;
}

.footer {
  max-height: 10vh;
  padding: 30px 20px;
}

.footer-title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  color: #444;
}

.footer-nav ul {
  display: flex;
  gap: 16px;
  margin-bottom: 10px;
  color: #444;
  padding-left: 2em;
}
.footer-nav li:not(:last-child)::after {
  content: "|";
  margin-left: 16px;
  font-weight: 700;
  color: #444;
}
.footer-nav li:hover {
  color: #fff;
  transition : .3s;
}

.copyright {
  font-size: 12px;
  color: #444;
  text-align: center;
  padding-bottom: 10px;
}

/***********************************
　ハンバーガーメニュー
************************************/
#hamburger {
	background-color: transparent;
	position: relative;
	cursor: pointer;
	margin: 0 0 0 auto;
	height: 60px;
	width: 60px;
  z-index: 11;
}
  .icon span {
	position: absolute;
	left: 10px;
	width: 35px;
	height: 4px;
	background-color: #737373;
	border-radius: 5px;
	transition: ease 0.74s;
}
  .icon span:nth-of-type(1) {
	top: 16px;
}
  .icon span:nth-of-type(2) {
	top: 28px;
}
  .icon span:nth-of-type(3) {
	bottom: 16px;
}
  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }
  .close span:nth-of-type(2) {
    opacity: 0;
  }
  .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }
  .ham {
    display: none;
    top: 0;
    right: 0;
    position: absolute;
    width: 20%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 30px;
    box-shadow: 4px 4px 4px gray;
    z-index: 10;
  }
  .ham-image {
    width: 60%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
  }
  .ham ul {
    flex-direction: column;
  }
  .ham li {
    text-align: center;
    padding: 15px 0;
  }
  .ham a {
    color: rgba(34, 49, 52, 0.9);
    text-align: center; 
    padding-bottom: 3px;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.6);
  }
  .ham a:hover {
    color: rgba(34, 49, 52, 0.3);
  }

/***********************************
　わたし
************************************/
.about-profile {
  width: 80%;
  max-width: 700px;
}
.profile-image,
.profile-table,
.about-text,
.contact-image {
  width: 100%;
  max-width: 700px;
}

.about-profile {
  margin: 0 auto;
}
.about-name-en {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1em;
  margin-top: 1em;
}
.about-name-jp {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.profile-image {
  border-radius: 30px;
}
.profile-table {
  border: 1px dotted gray;
  margin: 1em 0;
  padding: 1em;
}
.profile-table div {
  display: flex;
  margin-bottom: 5px;
}
.profile-table dt {
  width: 20%;
  text-align: center;
  font-weight: 500;
}
.profile-table dd {
  width: 80%;
}

.about-text {
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.5;
  padding-left: 2em;
}
.about-text p {
  margin-bottom: 0.8em;
}
.about-text p:first-child {
  margin-bottom: 1em;
}

.skill {
  width: 100%;
}
.skill-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 60px 0 30px 0;
}
.skill-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}
.skill-card h3 {
  display: block;
  width: 12em;
  font-size: 18px;
  font-weight: 600;
  margin: 10px auto 0 auto;
  padding-bottom: 5px;
  text-align: center;
  letter-spacing: 0.1em;
  border-bottom: 3px double gray;
  }
.skill-card p {
  font-size: 14px;
  line-height: 1.4;
}
.skill-card-text1,
.skill-card-text2 {
  padding-top: 1em;
}

/***********************************
　作品一覧
************************************/
.work-layout {
  display: flex;
}
/*****サイドメニュー*****/
.work-filter {
  width: 25%;
  max-width: 250px;
  padding-left: 5%;
  background-color: rgba(143, 151, 179, 0.9);
  color: #fff;
}
.work-filter li {
  margin: 20px 0;
  font-weight: 400;
}
.work-filter li::before {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;

  display: inline-block;
  opacity: 0;
  transform: translateX(-10px);
  transition: all .3s ease;
}
.work-filter li:hover::before {
  opacity: 1;
  transform: translateX(0);
  margin-right: 10px;
}

/*****メイン*****/
.work-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-list h2 {
  width: 40%;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 8px;
  border-bottom: 3px double #8f97b3;
}

.work-list-detail {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 40px;
}

.work-card img {
  width: 400px;
}

.work-card img:hover {
  transform: translateY(-8px);
}
.work-card-title {
  margin: 8px 0;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.work-card-detail {
  font-size: 12px;
  font-weight: 100;
}

/***********************************
　作品詳細
************************************/
.work-article {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.work-main-image {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 10px auto;
  border: 1px solid #999999;
  border-radius: 30px;
}
.work-main-image:hover {
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.3);
  transform: scale(0.95);
  transition-duration: 0.5s;
}
.work-main-image img {
  border-radius: 30px;
}

.work-url,
.work-label,
.work-title {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.work-url {
  width: 40%;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #999999;
  font-weight: 600;
}

.work-label {
  margin-top: 20px;
  margin-bottom: 5px;
  color: gray;
  font-size: small;
  font-weight: 400;
}

.work-title {
  font-size: x-large;
  font-weight: 700;
}

.ribon {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 30px auto;
}

.target,
.purpose {
  padding-left: 2em;
  font-weight: 600;
  margin-top: 15px;
}

.target-purpose {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.target-purpose h2,
.design-wireframe h2,
.design-comp h2,
.production-period h2,
.banner h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

.target-purpose p {
  padding-left: 3em;
  margin-top: 5px;
  margin-bottom: 10px;
}

.banner {
  margin-top: 2em;
}

.preview-container,
.banner-container {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.preview-pc,
.square {
  margin: 0 20px;
}

.square img,
.rectangle img {
  border: 1px solid #545454;
}

.preview-pc img,
.preview-smart img {
  border: 3px double #999999;
}

figcaption {
  text-align: center;
}
.design-text {
  width: 100%;
  max-width: 700px;
  height: auto;
  line-height: 1.5;
  margin: 10px auto;
  padding: 10px;
  padding-left: 2em;
  border: 1px dotted gray;
}

.period-table {
  width: 90%;
  max-width: 500px;
  height: auto;
  margin: 10px auto;
  border: 1px dotted gray;
}
.period-table th {
  width: 60%;
  padding: 5px;
  padding-left: 1em;
  font-weight: 500;
  border: 1px dotted gray;
}
.period-table td {
  width: 40%;
  padding: 5px;
  text-align: center;
  font-weight: 400;
  border: 1px dotted gray;
}

.tool {
  margin-top: 50px;
}
.tool-text {
  width: 80%;
  max-width: 500px;
  height: auto;
  margin: 10px auto 80px auto;
  border: 1px dotted gray;
  padding: 10px;
  text-align: center;
}

.btn-wrap {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 50px auto;
}

.back-link {
  background-color: #96d2fa;
  color: #fff;
  border-radius: 50px;
  padding: 10px;
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.back-link a {
  width: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.back-link img {
  width: 50px;
  color: #fff;
}
.back-link p {
  color: #96d2fa;
  font-weight: 600;
}

.back-link:hover {
  background-color: #fff;
  color: #96d2fa;
  border: 2px solid #96d2fa;
}



/***********************************
　問合せ
************************************/
.contact {
  text-align: center;
}

.page-title-contact {
  font-size: 50px;
  font-weight: 600;
  padding: 20px 0;
}

.contact-thanks {
  margin: 2em 0;
  letter-spacing: 0.1em;
}
.contact-text {
  margin-bottom: 1.5em;
  letter-spacing: 0.1em;
  line-height: 1.3;
}

.mail-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em auto;
  padding: 0.2em;
  width: 40%;
  max-width: 350px;
  border-radius: 60px;
  background-color: #fff;
  color: #8ecffa;
  border: 1px solid #8ecffa;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.mail-link img {
  width: 10%;
  margin-left: 1em;
}
.mail-link:hover {
  background-color: #8ecffa;
  color: #fff;
  transition : 0.4s;
}


/******************************
レスポンシブ
******************************/
@media screen and (max-width: 768px) {
  .pc-only-br {
   display: none;
  }
  .smart-only-br {
  display: inline;
  }

 .logo {
  width: 80%;
 }

/*-----ホーム-----*/
  .home {
    flex-direction: column;
  }
  .side-nav {
    width: 100vw;
  }
  .side-nav ul {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
  .side-nav li {
    margin-bottom: 40px;
  }
  .hero {
    width: 100%;
  }
  .hero-title-top,
  .hero-title-bottom {
    margin: 20px 0;
  }
  .hero-title-top,
  .hero-title-bottom {
    font-size: 46px;
    font-weight: 800;
  }

  .hero-text {
    margin: 30px 0;
  }
  .footer {
    padding-top: 20px;
  }

/*-----ハンバーガー-----*/
  #hamburger {
    position: fixed;
    right: 10px;
    top: 80px;
    z-index: 999;
  }
  .ham {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 400px;
    z-index: 998;
  }
  .ham li {
    font-size: 18px;
  }
  
  .ham-image {
    margin-top: 10%;
    width: 100px;
  }

/*-----わたし-----*/
.profile-table {
  padding: 5px;
  font-size: 12px;
}
.about-text {
  padding-left: 0;
  font-size: 14px;
}
.skill-title {
  margin-top: 40px;
}  
.skill-grid {
    grid-template-columns: 1fr;
  }
.skill-card {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.skill-card-text1 {
  font-size: 12px;
}
.skill-card-text2 {
  font-size: 14px;
}

/*-----作品一覧-----*/
.work-layout {
  flex-direction: column;
}
.work-filter {
  width: 100%;
  max-width: 100%;
  padding: 0;
}
.work-filter ul {
  display: flex;
  justify-content: center;
}
.work-filter li {
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
}
.work-list {
  width: 100%;
}
#web-site .work-list-detail {
  grid-template-columns: repeat(1, 1fr);  
}

#banner .work-card-title {
  font-size: 10px;
}
#banner .imaginary {
  font-size: 9px;
}
#banner .work-card-detail {
  font-size: 8px;
}

.work-list img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.work-list h2 {
  margin-top: 10px;
}
.work-card {
  margin: 30px 0 20px;
}
.work-card-title {
  font-size: 16px;
}
.imaginary {
  font-size: 12px;
}
.work-card-detail {
  font-size: 10px;
}

/*-----作品詳細-----*/
.work-url {
  font-size: 14px;
  font-weight: 400;
  width: 80%;
  max-width: 280px;
}
.target-purpose h2 {
  margin-top: 30px;
}
.target-purpose p {
  font-size: 14px;
  padding-left: 10%;
}
.target,
.purpose {
  font-size: 18px;
}
.design-wireframe h2 {
  margin-top: 50px;
}
.preview-container {
  flex-direction: column;
}
.preview-pc,
.preview-smart {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.preview-pc figcaption,
.preview-smart figcaption {
  margin-bottom: 5px;
}
.preview-smart figcaption {
  margin-top: 1em;
}
.preview-smart img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.design-text {
  width: 80%;
}

.period-table {
  font-size: 14px;
}

.production-period h2 {
  margin-top: 40px;
}

.back-link {
  background-color: #fff;
  color: #96d2fa; 
  border: 2px solid #96d2fa;
  margin-left: auto;
  margin-right: auto;
}
.btn-wrap {
  margin-bottom: 20px;  
}
  
/*-----Contact-----*/
  .contact-image {
    width: 60%;
  }
  .mail-link {
    width: 80%;
    max-width: 280px;
    margin: 30px auto;
    padding: 5px 0;
  }
  .mail-link img {
    display: none;
  }
/*-----footer-----*/
  .footer-title {
    font-width: 25px;
  }
  .footer-nav ul {
    font-size: 14px;
    padding: 0;
  }
  .page-top {
    width: 20%;
}
  .thanks {
    font-size: 15px;
}
}